@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --fonte-principal-font-family: "Ubuntu", Helvetica;
  --fonte-principal-font-size: 36px;
  --fonte-principal-font-style: normal;
  --fonte-principal-font-weight: 700;
  --fonte-principal-letter-spacing: 0px;
  --fonte-principal-line-height: normal;
  --fonte-secund-ria-font-family: "Ubuntu", Helvetica;
  --fonte-secund-ria-font-size: 24px;
  --fonte-secund-ria-font-style: normal;
  --fonte-secund-ria-font-weight: 400;
  --fonte-secund-ria-letter-spacing: 0px;
  --fonte-secund-ria-line-height: normal;
  --fonte-texto-font-family: "Ubuntu", Helvetica;
  --fonte-texto-font-size: 25px;
  --fonte-texto-font-style: normal;
  --fonte-texto-font-weight: 400;
  --fonte-texto-letter-spacing: 0px;
  --fonte-texto-line-height: normal;
  --neutral-10: rgba(29, 27, 32, 1);
  --neutral-20: rgba(77, 77, 77, 1);
  --neutral-30: rgba(138, 138, 138, 1);
  --neutral-40: rgba(230, 230, 230, 1);
  --neutral-50: rgba(255, 255, 255, 1);
  --primary-10: rgba(22, 47, 62, 1);
  --primary-20: rgba(36, 75, 100, 1);
  --primary-30: rgba(63, 132, 175, 1);
  --primary-40: rgba(93, 157, 196, 1);
  --primary-50: rgba(168, 202, 223, 1);
  --secondary-10: rgba(114, 13, 70, 1);
  --secondary-20: rgba(160, 18, 98, 1);
  --secondary-30: rgba(227, 26, 139, 1);
  --secondary-40: rgba(237, 84, 170, 1);
  --secondary-50: rgba(247, 186, 221, 1);
  --secondaryneutral-20: rgba(77, 77, 77, 1);
  --text-lg-font-family: "Ubuntu", Helvetica;
  --text-lg-font-size: 20px;
  --text-lg-font-style: normal;
  --text-lg-font-weight: 700;
  --text-lg-letter-spacing: 0.3199999928474426px;
  --text-lg-line-height: 16px;
  --text-md-font-family: "Ubuntu", Helvetica;
  --text-md-font-size: 16px;
  --text-md-font-style: normal;
  --text-md-font-weight: 500;
  --text-md-letter-spacing: 0.3199999928474426px;
  --text-md-line-height: 16px;
  --text-sm-font-family: "Ubuntu", Helvetica;
  --text-sm-font-size: 14px;
  --text-sm-font-style: normal;
  --text-sm-font-weight: 700;
  --text-sm-letter-spacing: 0.3199999928474426px;
  --text-sm-line-height: 20px;
  --text-xl-font-family: "Ubuntu", Helvetica;
  --text-xl-font-size: 30px;
  --text-xl-font-style: normal;
  --text-xl-font-weight: 700;
  --text-xl-letter-spacing: 0px;
  --text-xl-line-height: 16px;
  --text-xs-font-family: "Ubuntu", Helvetica;
  --text-xs-font-size: 12px;
  --text-xs-font-style: normal;
  --text-xs-font-weight: 300;
  --text-xs-letter-spacing: 0.3199999928474426px;
  --text-xs-line-height: 16px;
  --themedarkbackground: rgba(0, 0, 0, 1);
  --themedarkborder: rgba(138, 138, 138, 1);
  --themedarkerror: rgba(237, 84, 170, 1);
  --themedarkheading: rgba(255, 255, 255, 1);
  --themedarkhover: rgba(93, 157, 196, 1);
  --themedarkhover-secondary: rgba(237, 84, 170, 1);
  --themedarkon-error: rgba(255, 255, 255, 1);
  --themedarkon-primary: rgba(36, 75, 100, 1);
  --themedarkon-primary-container: rgba(168, 202, 223, 1);
  --themedarkon-secondary: rgba(160, 18, 98, 1);
  --themedarkon-secondary-container: rgba(247, 186, 221, 1);
  --themedarkon-surface: rgba(230, 230, 230, 1);
  --themedarkprimary: rgba(93, 157, 196, 1);
  --themedarkprimary-container: rgba(22, 47, 62, 1);
  --themedarksecondary: rgba(237, 84, 170, 1);
  --themedarksecondary-container: rgba(114, 13, 70, 1);
  --themedarksurface: rgba(77, 77, 77, 1);
  --themedarktext: rgba(230, 230, 230, 1);
  --themelightbackground: rgba(255, 255, 255, 1);
  --themelightborder: rgba(0, 0, 0, 1);
  --themelighterror: rgba(237, 84, 170, 1);
  --themelightheading: rgba(0, 0, 0, 1);
  --themelighthover: rgba(36, 75, 100, 1);
  --themelighthover-secondary: rgba(217, 217, 217, 1);
  --themelighton-error: rgba(255, 255, 255, 1);
  --themelighton-primary: rgba(255, 255, 255, 1);
  --themelighton-primary-container: rgba(36, 75, 100, 1);
  --themelighton-secondary: rgba(255, 255, 255, 1);
  --themelighton-secondary-container: rgba(160, 18, 98, 1);
  --themelighton-surface: rgba(77, 77, 77, 1);
  --themelightprimary: rgba(63, 132, 175, 1);
  --themelightprimary-container: rgba(168, 202, 223, 1);
  --themelightsecondary: rgba(227, 26, 139, 1);
  --themelightsecondary-container: rgba(247, 186, 221, 1);
  --themelightsurface: rgba(230, 230, 230, 1);
  --themelighttext: rgba(0, 0, 0, 1);
  --variable-collection-black: rgba(0, 0, 0, 1);
  --variable-collection-blue-10: rgba(168, 202, 223, 1);
  --variable-collection-blue-20: rgba(93, 157, 196, 1);
  --variable-collection-blue-30: rgba(63, 132, 175, 1);
  --variable-collection-blue-40: rgba(36, 75, 100, 1);
  --variable-collection-blue-50: rgba(22, 47, 62, 1);
  --variable-collection-color: var(--variable-collection-pink-40);
  --variable-collection-color-2: var(--variable-collection-pink-30);
  --variable-collection-gray-10: rgba(230, 230, 230, 1);
  --variable-collection-gray-20: rgba(138, 138, 138, 1);
  --variable-collection-gray-30: rgba(77, 77, 77, 1);
  --variable-collection-pink-10: rgba(247, 186, 221, 1);
  --variable-collection-pink-20: rgba(237, 84, 170, 1);
  --variable-collection-pink-30: rgba(227, 26, 139, 1);
  --variable-collection-pink-40: rgba(160, 18, 98, 1);
  --variable-collection-pink-50: rgba(114, 13, 70, 1);
  --variable-collection-secondary-10: var(--variable-collection-color);
  --variable-collection-secondary-20: var(--variable-collection-color-2);
  --variable-collection-secondary-30: var(--variable-collection-pink-20);
  --variable-collection-secondary-40: rgba(247, 186, 221, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
}